<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danc.winesapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/anotherone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/anotherone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".Auth.WelcomeAndAuth.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Auth.WelcomeAndAuth.Register" />

        <activity android:name=".Auth.WelcomeAndAuth.LogIn" />

        <activity android:name=".ProductActivity">

        </activity>

        <activity android:name=".Mpesa.MpesaActivity"/>
        <activity
            android:name=".CartActivity"
            android:label="Wines And Spirit"
            android:parentActivityName=".ItemActivity">

        </activity>

        <activity
            android:name=".ItemActivity"
            android:label="Wines And Spirit"
            android:parentActivityName=".ProductActivity">

        </activity>

    </application>

</manifest>